@font-face {
  font-family: Lato-Regular;
  src: url('../fonts/Lato/Lato-Regular.ttf'); 
}

@font-face {
  font-family: Lato-Black;
  src: url('../fonts/Lato/Lato-Black.ttf'); 
}

@font-face {
  font-family: Lato-Bold;
  src: url('../fonts/Lato/Lato-Bold.ttf'); 
}

.container{
	min-height: 100vh;
	display: -webkit-box;
	justify-content: center;
}

body {
	width: 1170px;
	background: url("../universe.jpg") repeat;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("../universe.jpg");
}

header {
	font-family: Lato-Black;
	background-color: #6c7ae0;
	border-radius: 20px;
	text-align: left;
	font-size: 20px;
	padding: 1px;
    padding-left: 20px;
}


.date {
	font-family: Lato-Regular;
	color: #b2b2b2;
	padding-left: 20px;
	padding-top: 5px;
	text-align: left;
	font-size: 15px;
	padding-bottom: 5px; 
	background-color: white;
	border-radius: 20px;
}

.content {
	font-family: Lato-Bold;
	text-align: left;
	font-size: 20px;
	color: #000000;
}

.button {
	background-color: #6c7ae0;
	border-radius: 20px;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}